// Update Bulma's global variables
$grey-dark: rgba(gray, .8);
$grey-light: rgba(lightgray, .8);
$primary: #DB0007;
$secondary: lighten(#063672, 8%);
$third: #9C824A;
$info: lighten($primary, 20%);
$link: orange;

// Update some of Bulma's component variables
$body-background-color: rgba(red, .1);
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// our vars
$navbar-bg: #dd1f2a;
$navbar-link: $secondary;
$navbar-text: darken(#FFF, 5%);