@font-face {
  font-family: 'cf_asty_probold';
  src: url('../fonts/CFAstyPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/CFAstyPro-Bold.otf')  format('opentype'),
  url('../fonts/CFAstyPro-Bold.woff') format('woff'), url('../fonts/CFAstyPro-Bold.ttf')  format('truetype'), url('../fonts/CFAstyPro-Bold.svg#CFAstyPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0370-03FF+1F00-1FFF;
}

@font-face {
  font-family: 'cf_asty_probook';
  src: url('../fonts/CFAstyPro-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/CFAstyPro-Book.otf')  format('opentype'),
  url('../fonts/CFAstyPro-Book.woff') format('woff'), url('../fonts/CFAstyPro-Book.ttf')  format('truetype'), url('../fonts/CFAstyPro-Book.svg#CFAstyPro-Book') format('svg');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0370-03FF+1F00-1FFF;
}

@font-face {
  font-family: 'cf_asty_prolight';
  src: url('../fonts/CFAstyPro-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/CFAstyPro-Light.otf')  format('opentype'),
  url('../fonts/CFAstyPro-Light.woff') format('woff'), url('../fonts/CFAstyPro-Light.ttf')  format('truetype'), url('../fonts/CFAstyPro-Light.svg#CFAstyPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0370-03FF+1F00-1FFF;
}

@font-face {
  font-family: 'cf_asty_promedium';
  src: url('../fonts/CFAstyPro-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/CFAstyPro-Medium.otf')  format('opentype'),
  url('../fonts/CFAstyPro-Medium.woff') format('woff'), url('../fonts/CFAstyPro-Medium.ttf')  format('truetype'), url('../fonts/CFAstyPro-Medium.svg#CFAstyPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0370-03FF+1F00-1FFF;
}

@font-face {
  font-family: 'cf_asty_stdmedium';
  src: url('../fonts/CFAstyStd-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/CFAstyStd-Medium.otf')  format('opentype'),
  url('../fonts/CFAstyStd-Medium.woff') format('woff'), url('../fonts/CFAstyStd-Medium.ttf')  format('truetype'), url('../fonts/CFAstyStd-Medium.svg#CFAstyStd-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0370-03FF+1F00-1FFF;
}

@font-face {
  font-family: 'LabGrotesqueMono';
  src: url('../fonts/LabGrotesqueMono.eot?#iefix') format('embedded-opentype'),  url('../fonts/LabGrotesqueMono.woff') format('woff'), url('../fonts/LabGrotesqueMono.ttf')  format('truetype'), url('../fonts/LabGrotesqueMono.svg#LabGrotesqueMono') format('svg');
  font-weight: normal;
  font-style: normal;
}