$p-font: 14px;
$font-stack: Ubuntu,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;
$desktop: 1152px;