$p-font: 14px;
$font-stack: 'cf_asty_probook',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;
$desktop: 1300px;